*{
    margin: 0 auto;
}

.container{
    width: 800px;
    border: 5px solid black;
    padding: 10px;
}

.form{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.earn{
    border: 2px solid black;
    padding: 10px;
    display: block;
    text-align: center;
}

.activities{
    border: 2px solid black;
    color: red;
    overflow-y: auto;
    max-height: 200px;
}

.green{
    color: green
}

.red{
    color: red;
}